token=7284772237:AAFCdJrXPkUeoUodD0CdPWIlWimfNH_db3Y
BANK_URL = 'https://www.cbr.ru/scripts/XML_daily.asp'
REDIS_HOST = 'localhost'
REDIS_PORT = 6379
REDIS_DB =  0
MONGO_HOST = 'localhost'
MONGO_PORT = 27018